body {
	background-image: url(/css/shopping-cart-filled-with-coins-copy-space-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Ubuntu", sans-serif;
	color: #1b7a9f;
}

.title {
	margin-top: 60px;
	margin-bottom: 20px;
}

.total,
.title {
	color: #0d3b4c;
}

.table > thead > tr > th {
	border-bottom: none !important;
}

form {
	margin-top: 20px !important;
}

.btn-blue {
	background-color: #0d3b4c;
	color: white;
}

.subtotal {
	font-weight: bold;
}

input {
	width: 60px;
}

@media (min-width: 576px) {
	.table-responsive {
		border: none;
	}
	.container {
		width: 500px;
		margin-bottom: 30px;
	}
}
@media (min-width: 768px) {
	.container {
		width: 700px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 850px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1100px;
	}
}
